.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background: rgb(164, 223, 233);
  background: linear-gradient(
    90deg,
    rgba(164, 223, 233, 1) 0%,
    rgba(181, 203, 208, 1) 21%,
    rgba(154, 150, 218, 1) 61%,
    rgba(195, 225, 231, 1) 100%
  );
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: auto;
  height: auto;
}
.basic {
  height: 400px;
  width: 400px;
  border: 2px solid lemonchiffon;
  border-radius: 50%;
}

.text {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

/* .petlist {
  font-family: "Ephesis", cursive;
  font-size: 3rem;
} */

.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.li {
  margin-left: 20px;
}

.petlist {
  font-family: neon;
  color: #fb4264;
  font-size: 3rem;
  line-height: 9vw;
  text-shadow: 0 0 3vw #f40a35;
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
  text-decoration: none;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #7a86f3, 0 0 3vw #7fc8e6, 0 0 10vw #4d3affb6,
      0 0 10vw #8b7473, 0 0 0.4vw #fe2828, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #ebe998, 0 0 1.5vw #d58dff, 0 0 5vw #cf55ff,
      0 0 5vw #800e0b, 0 0 0.2vw #f885fc, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.petdetails {
  font-family: "Ephesis";
  font-size: 3rem;
}

.container1 {
  display: flex;
  font-size: 2rem;
}

.ul1 {
  display: flex;
  flex-direction: column;

  line-height: 20px;
}

.li1 {
  list-style-type: none;
  line-height: 110px;
  font-size: 3rem;
  font-family: "Nunito", sans-serif;
}

.li1:hover {
  font-size: 4rem;
}

a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

.cont2 {
  border: 3px solid lemonchiffon;
  margin: 10px;
  width: 700px;
}

.cont2:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid rgb(198, 164, 241);
  border-top: 8px solid rgb(198, 164, 241);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.petlist1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.petlist2 {
  width: 650px;
  border: 3px solid lightgoldenrodyellow;
  margin-top: 20px;
  font-size: 2rem;
  font-style: italic;
}
